@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply scroll-smooth scroll-pt-6;
  }

  body {
    @apply font-primary;
  }

  .btn{
    @apply bg-pink-500 text-white font-medium w-28 p-2 rounded-md cursor-pointer;
  }

  .textOutline {
    -webkit-text-stroke: 1px white;
  }

  .noTextOutline {
    -webkit-text-stroke: 0 white;
  }

}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }
}